.header{
    display:flex;
    justify-content:center;
    align-items:stretch;
    height: 50px;
    padding: 10px 10px 10px 10px;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 30px;    
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: aqua;
    border-bottom-color: aqua;
}





